<header>
  <h1>Sudoku</h1>
  <div id="setup-game">
    <div id="time">
      <label id="minutes">00</label>:<label id="seconds">00</label>
    </div>
</header>

<body id="game">
<section id="sudokuBoard">
  <% @sudoku.board.each do |row| %><br>
    <% row.each do |num| %>
      <% if num.zero? %>
        <input type="text" id="setid" class="tile">
      <% else %>
        <div id="setid" class="tile"><%= num %> </div>
      <% end %>
    <% end %>
  <% end %>
  <button type="button" onclick=<% @sudoku.solve%>>Solve</button>
  <button type="button" onclick="solve()">Show Answer</button>
  <body onLoad="javascript:setId()">
</section>

<div id="solved-board" style="display: none">
    <% @sudoku.solvedboard.each do |row| %><br>
      <% row.each do |num| %>
        <%= num %>
      <% end %>
    <% end %>
</div>


</body>
<script>
function solve(){
  var show = document.getElementById("solved-board");
  if (show.style.display === "none") {
    show.style.display = "block";
  }
};

var minutesLabel = document.getElementById("minutes");
var secondsLabel = document.getElementById("seconds");
var totalSeconds = 0;
setInterval(setTime, 1000);

function setTime() {
  ++totalSeconds;
  secondsLabel.innerHTML = pad(totalSeconds % 60);
  minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
}

function pad(val) {
  var valString = val + "";
  if (valString.length < 2) {
    return "0" + valString;
  } else {
    return valString;
  }
}

function setId() {
  for (let i=0; i<81; i++) {
    document.getElementById("setid").setAttribute("id", `${i}`)
  }
}

</script>
